	<div class="col-lg-6 col-md-6">
						<div class="panel-group accordion" id="accordion0">
							{% comment %} <div class="panel panel-default">
								<div class="panel-heading" id="headingOne">
									<div class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-target="#collapseOne" href="#" aria-expanded="false" aria-controls="collapseOne">
											<i class="uil uil-location-point chck_icon"></i>Ludhiana
										</a>
									</div>
								</div>
								<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion0" style="">
									<div class="panel-body">
										Ludhiana Head Office:<br>
										#0000, St No. 0, Lorem ipsum dolor sit amet, Main road, Ludhiana,  Punjab<br>
										Ludhiana- 141001<br>
										<div class="color-pink">Tel: 0000-000-000</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" id="headingTwo">
									<div class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" href="#" aria-expanded="false" aria-controls="collapseTwo">
											<i class="uil uil-location-point chck_icon"></i>Gurugram
										</a>
									</div>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion0">
									<div class="panel-body">
										Gurugram Branch :<br>
										#0000, St No. 0, Lorem ipsum dolor sit amet, Main road, Gurugram,  Haryana<br>
										Gurugram- 141001<br>
										<div class="color-pink">Tel: 0000-000-000</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" id="headingThree">
									 <div class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-target="#collapseThree" href="#" aria-expanded="false" aria-controls="collapseThree">
											<i class="uil uil-location-point chck_icon"></i>New Delhi
										</a>
									</div>
								</div>
								<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion0">
									<div class="panel-body">
										New Delhi Branch :<br>
										#0000, St No. 0, Lorem ipsum dolor sit amet, Main road, New Delhi<br>
										New Delhi- 141001<br>
										<div class="color-pink">Tel: 0000-000-000</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" id="headingfour">
									<div class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-target="#collapsefour" href="#" aria-expanded="false" aria-controls="collapsefour">
											<i class="uil uil-location-point chck_icon"></i>Bangaluru
										</a>
									</div>
								</div>
								<div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour" data-parent="#accordion0">
									<div class="panel-body">
										Bangaluru Branch :<br>
										#0000, St No. 0, Lorem ipsum dolor sit amet, Main road, Bangaluru<br>
										Bangaluru- 141001<br>
										<div class="color-pink">Tel: 0000-000-000</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" id="headingfive">
									<div class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-target="#collapsefive" href="#" aria-expanded="false" aria-controls="collapsefive">
											<i class="uil uil-location-point chck_icon"></i>Mumbai
										</a>
									</div>
								</div>
								<div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive" data-parent="#accordion0">
									<div class="panel-body">
										Mumbai Branch :<br>
										#0000, St No. 0, Lorem ipsum dolor sit amet, Main road, Mumbai<br>
										Mumbai- 141001<br>
										<div class="color-pink">Tel: 0000-000-000</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" id="headingsix">
									<div class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-target="#collapsesix" href="#" aria-expanded="false" aria-controls="collapsesix">
											<i class="uil uil-location-point chck_icon"></i>Hyderabad
										</a>
									</div>
								</div>
								<div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix" data-parent="#accordion0">
									<div class="panel-body">
										Hyderabad Branch :<br>
										#0000, St No. 0, Lorem ipsum dolor sit amet, Main road, Hyderabad<br>
										Hyderabad- 141001<br>
										<div class="color-pink">Tel: 0000-000-000</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading" id="headingseven">
									<div class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-target="#collapseseven" href="#" aria-expanded="false" aria-controls="collapseseven">
											<i class="uil uil-location-point chck_icon"></i>Kolkata
										</a>
									</div>
								</div>
								<div id="collapseseven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingseven" data-parent="#accordion0">
									<div class="panel-body">
										Kolkata Branch :<br>
										#0000, St No. 0, Lorem ipsum dolor sit amet, Main road, Kolkata<br>
										Kolkata- 141001<br>
										<div class="color-pink">Tel: 0000-000-000</div>
									</div>
								</div>
							</div> {% endcomment %}
							<!-- Share Icons Start-->
					{% comment %} <div >
					<div >
					<a href="#" class="facebook" title="Share"><i class="fab fa-facebook-f"></i></a> 
					<a href="#" class="twitter" title="Share"><i class="fab fa-twitter"></i></a> 
					<a href="#" class="google" title="Share"><i class="fab fa-google"></i></a> 
					<a href="#" class="linkedin" title="Share"><i class="fab fa-linkedin-in"></i></a>
					<a href="#" class="whatsapp" title="Share"><i class="fab fa-whatsapp"></i></a> 
					</div>
					</div> {% endcomment %}
					<a style=" display: block;width: 100%;border: none;background-color: #3b5998;padding: 14px 28px;font-size: 16px;cursor: pointer;text-align: center;">Facebook</a>
							<a style=" display: block;width: 100%;border: none;background-color: #00acee;padding: 14px 28px;font-size: 16px;cursor: pointer;text-align: center;">Twitter</a>
						
						<a style=" display: block;width: 100%;border: none;background-color: #fe4164;padding: 14px 28px;font-size: 16px;cursor: pointer;text-align: center;">Instagram</a>
						<a style=" display: block;width: 100%;border: none;background-color: #FF0000;padding: 14px 28px;font-size: 16px;cursor: pointer;text-align: center;">You Tube</a>
					<!-- Share Icons End-->		
					<!-- Share Icons End-->							
						</div>
					</div>