{% load static %}

<!-- Cart Sidebar Offset Start-->
<div class="bs-canvas bs-canvas-left position-fixed bg-cart h-100">
    <div class="bs-canvas-header side-cart-header p-3 ">
        <div class="d-inline-block  main-cart-title">My Cart <span>({{ cart_items }} Items)</span></div>
        <button type="button" class="bs-canvas-close close" aria-label="Close"><i class="uil uil-multiply"></i></button>
    </div> 
    <div class="bs-canvas-body">
        <div class="cart-top-total">
            
        </div>
        <div class="side-cart-items">
            {% if cart.products %}
            {% for p in cart.products.all %}
            
            <div class="cart-item">
                <div class="cart-product-img">
                    <img height="100" width="100" src="{{p.product_Image_Field.url}}" alt="">
                    {% if p.product_discount_price %}
                    <div class="offer-badge">{{p.get_percentage_off}}% OFF</div>
                    {% endif %}
                </div>
                <div class="cart-text">
                    <h4>{{p.product_title }}</h4>
                 
                    <div class="qty-group">
                       
                        {% if p.product_discount_price %}
                            <div class="product-price">Ksh : {{p.product_discount_price}} <span> ksh : {{p.product_price}}</span></div>
                        {% else %}
                            <div class="product-price">Ksh : {{p.product_price}} </div>
                        {% endif %}
                    </div>
                    
                    <button type="button" class="cart-close-btn"><i class="uil uil-multiply"></i></button>
                </div>
            </div>
            {% endfor %}
          
            {% else %}
            <h1>Your cart is Empty</h1>
            {% endif %}
            
        </div>
    </div>
    <div class="bs-canvas-footer">
        <div class="main-total-cart">
            <h2>Sub Total</h2>
            <span>Ksh : {{cart.subtotal}}</span>
        </div>
        {% if cart.products %}
        <div class="checkout-cart">
            <a href="#" class="promo-code">Thank You </a>
            <a href='{% url "carts:checkout" %}' class="cart-checkout-btn hover-btn">Proceed to Checkout</a>
        </div>
        {% endif %}
    </div>
</div>
<!-- Cart Sidebar Offsetl End-->