{% load static %}

<!-- Cart Sidebar Offset Start-->
<div class="bs-canvas bs-canvas-left position-fixed bg-cart h-100">
    <div class="bs-canvas-header side-cart-header p-3 ">
        <div class="d-inline-block  main-cart-title">My Cart <span>({{cart}} Items)</span></div>
        <button type="button" class="bs-canvas-close close" aria-label="Close"><i class="uil uil-multiply"></i></button>
    </div> 
    <div class="bs-canvas-body">
        <div class="cart-top-total">
            
        </div>
        <div class="side-cart-items">
            {% if cart.products.all|length < 3 %}
            {% for p in cart.products.all %}
            
            <div class="cart-item">
                <div class="cart-product-img">
                    <img height="100" width="100" src="{{p.product_Image_Field.url}}" alt="">
                    {% if p.product_discount_price %}
                    <div class="offer-badge">{{p.get_percentage_off}}% OFF</div>
                    {% endif %}
                </div>
                <div class="cart-text">
                    <h4>{{p.product_title }}</h4>
                    <div class="cart-radio">
                        <ul class="kggrm-now">
                            <li>
                                <input type="radio" id="a1" name="cart1">
                                <label for="a1">0.50</label>
                            </li>
                            <li>
                                <input type="radio" id="a2" name="cart1">
                                <label for="a2">1kg</label>
                            </li>
                            <li>
                                <input type="radio" id="a3" name="cart1">
                                <label for="a3">2kg</label>
                            </li>
                            <li>
                                <input type="radio" id="a4" name="cart1">
                                <label for="a4">3kg</label>
                            </li>
                        </ul>
                    </div>
                    <div class="qty-group">
                       
                        {% if p.product_discount_price %}
                            <div class="product-price">Ksh : {{p.product_discount_price}} <span> ksh : {{p.product_price}}</span></div>
                        {% else %}
                            <div class="product-price">Ksh : {{p.product_price}} </div>
                        {% endif %}
                    </div>
                    
                    <button type="button" class="cart-close-btn"><i class="uil uil-multiply"></i></button>
                </div>
            </div>
            {% endfor %}
          
            {% else %}
            <h1>Your cart is Empty</h1>
            {% endif %}
            
        </div>
    </div>
    <div class="bs-canvas-footer">
        <div class="cart-total-dil saving-total ">
            <h4>Total Saving</h4>
            <span>$11</span>
        </div>
        <div class="main-total-cart">
            <h2>Total</h2>
            <span>$35</span>
        </div>
        <div class="checkout-cart">
            <a href="#" class="promo-code">Have a promocode?</a>
            <a href="#" class="cart-checkout-btn hover-btn">Proceed to Checkout</a>
        </div>
    </div>
</div>
<!-- Cart Sidebar Offsetl End-->