{% load static %}

<footer class="footer">
    <div class="footer-first-row">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <ul class="call-email-alt">
                        <li><a href="#" class="callemail"><i class="uil uil-dialpad-alt"></i>254-700-057005</a></li>
                        <li><a href="#" class="callemail"><i class="uil uil-envelope-alt"></i>info@twalafishstore.com</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="social-links-footer">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>				
            </div>
        </div>
    </div>
    <div class="footer-second-row">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    {% if categories %}
                    
                    <div class="second-row-item">
                        <h4>Categories</h4>
                        <ul>
                            {% for c in categories %}
                            <li><a href="{{c.get_absolute_url}}">{{c.category_name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    
                    {% endif %}
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="second-row-item">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><a href="about_us.html">About</a></li>
                            {% if request.user.is_authenticated %}
                            <li><a href="{% url 'cart:checkout' %}">Checkout</a></li>
                            <li><a href="{% url "accounts:logout" %}">Log Out</a></li>
                            {% else %}
                            <li><a href="{% url 'accounts:signin' %}">Sign In</a></li>
                            
                            <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>

                            {% endif %}

                            <li><a href="{% url 'contacts:contacts_index' %}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="second-row-item-app">
                        <h4>Download App</h4>
                        <ul>
                            <li><a href="#"><img class="download-btn" src="{% static 'images\download-1.svg' %}" alt=""></a></li>
                            <li><a href="#"><img class="download-btn" src="{% static 'images\download-2.svg' %}" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="second-row-item-payment">
                        <h4>Payment Method</h4>
                        <div class="footer-payments">
                            <ul id="paypal-gateway" class="financial-institutes">
                                <li class="financial-institutes__logo">
                                  <img alt="Mpesa" title="Mpesa" src="{% static 'images\footer-icons\mpesa_image.jpeg' %}">
                                </li>
                             
                               
                            
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="footer-last-row">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-bottom-links">
                        <ul>
                            <li><a href="about_us.html">About</a></li>
                            {% if request.user.is_authenticated %}
                            <li><a href="{% url 'cart:checkout' %}">Checkout</a></li>
                            <li><a href="{% url "accounts:logout" %}">Log Out</a></li>
                            {% else %}
                            <li><a href="{% url 'accounts:signin' %}">Sign In</a></li>
                            
                            <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>

                            {% endif %}

                            <li><a href="{% url 'contacts:contacts_index' %}">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="copyright-text">
                        <i class="uil uil-copyright"></i>Copyright 2020 <b>Gambolthemes</b> . All rights reserved
                    </div>



                </div>
            </div>
        </div>
    </div>
</footer>

