{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="wrapper">
    <div class="gambo-Breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Featured products</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="all-product-grid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-top-dt">
                        <div class="product-left-title">
                            <h2>Featured Products</h2>
                        </div>
                        <a href="#" class="filter-btn pull-bs-canvas-right">Filters</a>
                        <div class="product-sort">
                            <div class="ui selection dropdown vchrt-dropdown">
                                <input name="gender" type="hidden" value="default">
                                <i class="dropdown icon d-icon"></i>
                                <div class="text">Popularity</div>
                                <div class="menu">
                                    
                                    <div class="item" data-value="1">Price - Low to High</div>
                                    <div class="item" data-value="2">Price - High to Low</div>
                                    <div class="item" data-value="3">Alphabetical</div>
                                    <div class="item" data-value="4">Saving - High to Low</div>
                                    <div class="item" data-value="5">Saving - Low to High</div>
                                    <div class="item" data-value="6">% Off - High to Low</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-list-view">
                <div class="row">
                    {% if fproducts %}
                    {% for n in fproducts %}
                    {% if n.featured_product == 1 %}
                    <div class="col-lg-3 col-md-6">
                        <div class="product-item mb-30">
                            <a href="{{n.get_absolute_url}}" class="product-img">
                                <img height="180" width="180" src="{{n.product_Image_Field.url}}" alt="">
                                <div class="product-absolute-options">
                                    {% if n.product_discount_price %}
                                    <span class="offer-badge-1">{{n.get_percentage_off}} % off</span>
                                    <span class="like-icon" title="wishlist"></span>
                                    {% endif %}
                                </div>
                            </a>
                            <div class="product-text-dt">
                                <p>Available<span>(In Stock)</span></p>
                                <h4>{{n.product_title}}</h4>
                                {% if n.product_discount_price %}
                                <div class="product-price">Ksh : {{n.product_discount_price}}<span>Ksh : {{n.product_price}}</span></div>
                                {% else %}
                                <div class="product-price">Ksh : {{n.product_price}}</div>
                                {% endif %}
                                <div class="qty-cart">
                                    <div class="quantity buttons_added">
                                        <input type="button" value="-" class="minus minus-btn">
                                        <input type="number" step="1" name="quantity" value="1" class="input-text qty text">
                                        <input type="button" value="+" class="plus plus-btn">
                                    </div>
                                    <span class="cart-icon"><i class="uil uil-shopping-cart-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                   
                    <div class="col-md-12">
                        <div class="more-product-btn">
                            <button class="show-more-btn hover-btn" onclick="window.location.href = '#';">Show More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}