{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="wrapper">
    <div class="gambo-Breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">New Arrivals</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="all-product-grid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-top-dt">
                        <div class="product-left-title">
                            <h2>New Arrivals</h2>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="product-list-view">
                <div class="row">
                    {% if newproducts %}
                    {% for n in newproducts %}
                    <div class="col-lg-3 col-md-6">
                        <div class="product-item mb-30">
                            <a href="{{n.get_absolute_url}}" class="product-img">
                                <img height="180" width="180" src="{{n.product_Image_Field.url}}" alt="">
                                <div class="product-absolute-options">
                                    {% if n.product_discount_price %}
                                    <span class="offer-badge-1">{{n.get_percentage_off}} % off</span>
                                    <span class="like-icon" title="wishlist"></span>
                                    {% endif %}
                                </div>
                            </a>
                            <div class="product-text-dt">
                                <p>Available<span>(In Stock)</span></p>
                                <h4>{{n.product_title}}</h4>
                                {% if n.product_discount_price %}
                                <div class="product-price">Ksh : {{n.product_discount_price}}<span>Ksh : {{n.product_price}}</span></div>
                                {% else %}
                                <div class="product-price">Ksh : {{n.product_price}}</div>
                                {% endif %}
                               
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                   
                    <div class="col-md-12">
                        <div class="more-product-btn">
                            {% if is_paginated %}
                            {% if page_obj.has_previous %}  
                            <a class="show-more-btn hover-btn" href = "?={{ page_obj.previous_page_number }}">Back</a>
                            {% endif %}

                            {% if page_obj.has_next %}  
                            <a class="btn btn-danger" href = "?={{ page_obj.next_page_number }}">Show More</a>
                            {% endif %}

                            {% endif %}



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}